
/*Tablet and Mobile*/
@media (max-width:  63.9375em) {
    .btn {
        padding: 15px 16px;
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .contact-info {
        line-height: 2;
    }
    #footer .social-list a {
        margin: 0 8px;
    }
    #footer .copyright {
        font-size: 32px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width:  63.9375em) {
    #footer .social-list {
        font-size: 48px;
    }
}

/* MOBILE */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #nav  {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 32px;
    }
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    .text-content {
        display: none;
    }
    #content .member-img {
        width: 60%;
    }
    .contact-form {
        margin-top: 32px;
    }
    #footer .social-list {
        font-size: 32px;
    }
}